@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/App/Comercio/comercio-controller.js"></script>
    <script src="~/App/Comercio/comercio-repository.js"></script>
    <script src="~/App/Menu/menu-controller.js"></script>
    <script src="~/App/Menu/menu-repository.js"></script>
    <script src="~/App/Tag/tag-repository.js"></script>
    <script src="~/App/Comentario/comentario-repository.js"></script>
    <script src="~/App/Tarjeta/tarjeta-repository.js"></script>
    <script src="~/App/Zona/zona-repository.js"></script>
}

<div ng-view></div>