<ion-view title="Dashboard">
    <ion-content class="has-header padding">
        <div class="list card" ng-repeat="menu in menus">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>{{menu.name}}</h2>
                <p>{{menu.local}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/{{menu.image}}.jpg">
                <p>
                    {{menu.description}}
                </p>
                <p>
                    <a href="#" class="subdued">{{menu.likes}} Like</a>
                    <a href="#" class="subdued">{{menu.comments}} Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
