<ion-view title="MENÚS DEL DÍA">
    <ion-content class="has-header padding">
        <div class="list card" ng-repeat="menu in menus">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>{{menu.name}} - {{menu.price | currency}}</h2>
                <p>{{menu.store.name}} - {{menu.store.distance}} km</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/{{menu.image}}.jpg">
                <p>
                    {{menu.description}}
                </p>
                <p>
                    <a href="#" class="subdued">{{menu.likes}} Me gusta</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="like(menu.id)">
                    <i class="icon ion-thumbsup"></i>
                    <span>Me gusta</span>
                </a>
                <a class="tab-item" href="tel:{{menu.store.phone}}">
                    <i class="icon ion-ios7-telephone"></i>
                    Llamar
                </a>
                <a class="tab-item" href="#/tab/map/{{menu.store.id}}">
                    <i class="icon ion-ios7-location"></i>
                    Ubicaci&oacute;n
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
